.main:hover{    background-color: blue;
}
.main{
  height: 1cm;
  width: 2.5cm;
  align-items: center;
  margin-left: 150px;
  background-color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
p{
  height: 150px;
  background-color: brown;
  font-size: 50px;
  color: red;
  text-align: center;
  background-image: url(./Restaurant-meu/restaurant.png);
  background-position:bottom;
  margin-bottom: 00;
  margin-top: 20px;
}
table{
  margin-top: 00;
}
input{
  height: 1cm;
  width: 6cm;
  
}
label{
    height: 10px;
    line-height: 1cm;
    width: 30px;
    background-color:none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}
h1{
  text-align: center;
  
}
select{
  height: 1cm;
  width: 6cm;
}
form{
  border-radius:50px;
height: 400px;
border-color: black;
border: 5px solid black;

}